.container {
  width: 100vw;
  height: 100vh;
  background: #888888;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  max-width: 350px;
  padding: 24px;
  border-radius: 16px;
  display: grid;
  grid-row-gap: 12px;
}